.headerContainer {
  width: 100%;
  top: 0;
  z-index: 999;
  position: fixed;
  transition: 0.3s ease-in-out;
}

.headerBackground {
  background-color: #010f33f1;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3em 0em;
  padding-left: 1.5em;
}

.logo {
  position: relative;
  width: 10.3em;
  height: 1.8rem;
}

.navigationLinks {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
  display: flex;
  align-items: center;
  gap: 2em;
}

.languageMenu {
  display: none;
}

@media screen and (min-width: 960px) {
  .logo {
    width: 20.1em;
    height: 3.5rem;
  }

  .navigationLinks {
    font-size: 1.4rem;
    gap: 3em;
  }

  .languageMenu {
    display: flex;
    align-items: center;
    gap: 1em;
  }
}

@media screen and (min-width: 1560px) {
  .headerWrapper {
    padding-left: 0em;
  }
}
