.featureContainer {
  padding: 0 1.5em;
  margin-top: 12em;
}

.mobileSectionTitle {
  text-transform: uppercase;
  display: unset;
  h2 {
    display: inline-flex;
    gap: 5.2em;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
  }
}

.desktopSectionTitle {
  display: none;
}

.tabsContainer {
  display: flex;
  gap: 1em;
  padding-top: 3em;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.featureTabs {
  display: flex;
  white-space: nowrap;
  gap: 1em;
  border: 1px solid white;
  align-items: center;
  padding: 1rem 3rem;
  border-radius: 4em;
  cursor: pointer;

  h2 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
  }
  h3 {
    margin: 0;
    font-size: 1.2rem;
    font-family: var(--font-neue);
    font-weight: 450;
  }
}

.selectedFeature {
  margin-top: 3rem;

  h2 {
    font-weight: 450;
    font-family: var(--font-neue);
    font-size: 1.6rem;
  }
}

.featureDetails {
  padding-bottom: 5em;
  background-image: url("../../public/Layers2.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  h1 {
    font-size: 3rem;
    font-weight: 450;
    font-family: var(--font-neue);
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.4rem;
    font-weight: 450;
    font-family: var(--font-neue);
    margin: 0;
  }
}

.companiesContainer {
  margin-top: 5.4em;
  border-top: 0.05em solid rgba(255, 255, 255, 0.589);
  border-bottom: 0.05em solid rgba(255, 255, 255, 0.589);
  display: flex;
  white-space: nowrap;
  gap: 2em;
  overflow-x: hidden;
}

.featuredCompany {
  display: flex;
  align-items: center;
  gap: 2em;
  h1 {
    font-weight: 400;
    font-size: 2.4rem;
  }

  .companyLogoContainer {
    border: 1px solid rgba(255, 255, 255, 0.589);
    width: fit-content;
    padding: 0 2em;
    border-radius: 3em;
    .companyLogo {
      position: relative;
      width: 7em;
      height: 4em;
    }
  }
}

@media screen and (min-width: 960px) {
  .featureContainer {
    margin-top: 24em;
    background-image: url("../../public/Layers2.svg");
    background-position: 30% 45%;
    background-size: 50%;
    background-repeat: no-repeat;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .rightCol {
    max-width: 60%;
  }

  .mobileSectionTitle {
    display: none;
  }

  .desktopSectionTitle {
    text-transform: uppercase;
    display: unset;

    h2 {
      display: inline-flex;
      gap: 5.2em;
      font-size: 1.4rem;
      font-weight: 400;
      margin: 0;
    }
  }

  .tabsContainer {
    padding-top: 0;
    max-width: 100%;
    overflow-x: unset;
    flex-wrap: wrap;
  }

  .featureTabs {
    border: 0.05em solid white;

    h3 {
      font-size: 1.4rem;
    }
  }

  .featuredCompany {
    gap: 2em;
    h1 {
      font-weight: 400;
      font-size: 6rem;
    }
  }

  .selectedFeature {
    h2 {
      font-size: 2.4rem;
    }
    h1 {
      font-size: 6rem;
    }
    p {
      font-size: 1.6rem;
      max-width: 87%;
    }
  }

  .companiesContainer {
    margin-top: 29.3em;
  }

  .featureDetails {
    background-image: none;
  }
}
