.sectionContainer {
  padding: 0 1.5em;
  margin-top: 12em;
}

.sectionTitle {
  text-transform: uppercase;
  z-index: 10;
  h2 {
    display: inline-flex;
    gap: 5.2em;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
  }
}

.testimonialQuote {
  padding-top: 3em;
  z-index: 10;
  h1 {
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
    padding-bottom: 3rem;
  }

  .quotation {
    display: none;
  }

  h2 {
    font-size: 1.4rem;
    font-family: var(--font-neue);
    font-weight: 450;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 960px) {
  .sectionContainer {
    margin-top: 24em;
  }

  .testimonialWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .testimonialQuote {
    flex: 2;
    padding-top: 0;

    h1 {
      font-size: 6rem;
    }
    .quotation {
      display: unset;
    }
  }

  .sectionTitle {
    flex: 1;
    h2 {
      font-size: 1.4rem;
    }
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.5;
  }
  to {
    rotate: 360deg;
  }
}
