.articlesContainer {
  display: flex;
  overflow: hidden;
  gap: 1em;
  overflow-x: auto;
  margin-bottom: 12rem;
  padding: 0.5em;
}

#boxContainer {
  min-width: 27em;
  height: auto;
  display: flex;
  flex-direction: column;

  h1 {
    font-family: var(--font-neue);
    font-size: 1.6rem;
    font-weight: 450;
    margin: 0;
    margin-bottom: 4rem;
  }

  p {
    font-family: var(--font-neue);
    font-size: 1.4rem;
    font-weight: 450;
    margin: 0;
  }
}

#imageContainer {
  position: relative;
  width: 100%;
  min-height: 15.5em;

  img {
    object-fit: cover;
    z-index: -10;
  }
}

#imageContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4.5em;
  background: linear-gradient(to bottom, #01081a, transparent);
}

#imageContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4.5em;
  background: linear-gradient(to top, #01081a, transparent);
}

.articleDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.articleCta {
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    rotate: -45deg;
  }
}

@media screen and (min-width: 960px) {
  .articlesContainer {
    max-width: 67%;
    padding-bottom: 1em;
  }

  #boxContainer {
    max-width: 40.9em;
    min-width: 40.9em;
    height: 42.4em;

    h1 {
      font-size: 2.4rem;
      margin-top: 3rem;
    }
  }

  #imageContainer {
    min-height: 22.7em;
  }
}

.articlesContainer::-webkit-scrollbar {
  width: 0.5em;
  height: 0.8em;
}

.articlesContainer::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 3em;
}

.articlesContainer::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 3em;
}
