.articlesContainer {
  display: flex;
  overflow: hidden;
  gap: 1em;
  overflow-x: auto;
  margin-bottom: 12rem;
  // border: 2px solid lawngreen;
}

#boxContainer {
  min-width: 28em;
  height: auto;
  display: flex;
  flex-direction: column;

  h1 {
    font-family: var(--font-neue);
    font-size: 1.6rem;
    font-weight: 450;
    margin: 0;
    margin-bottom: 4rem;
  }

  a {
    font-family: var(--font-neue);
    font-size: 1.4rem;
    font-weight: 450;
    margin: 0;
  }
}

#imageContainer {
  position: relative;
  width: 100%;
  min-height: 15.5em;

  img {
    object-fit: cover;
  }
}

.articleDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.articleCta {
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    rotate: -45deg;
  }
}

@media screen and (min-width: 960px) {
  #boxContainer {
    max-width: 40.9em;
    height: 42em;

    h1 {
      font-size: 2.4rem;
    }
  }

  #imageContainer {
    min-height: 22.7em;
  }
}
