.sectionContainer {
  margin-top: 12em;
  padding: 0 1.5em;
}

.sectionTitle {
  text-transform: uppercase;
  margin-bottom: 3em;

  h2 {
    display: inline-flex;
    gap: 5.2em;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
  }
}

.wrapper {
  overflow-x: hidden;
}

.imagesContainer {
  display: inline-flex;
  gap: 2em;
  position: relative;

  img {
    z-index: -10;
  }
}

.imagesContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2.5em;
  background: linear-gradient(to bottom, #01081a, transparent);
}

.imagesContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.5em;
  background: linear-gradient(to top, #01081a, transparent);
}

@media screen and (min-width: 960px) {
  .sectionContainer {
    margin-top: 24rem;
  }
  .newsWrapper {
    display: flex;
    justify-content: space-between;
    gap: 2em;
  }

  .wrapper {
    max-width: 100%;
    margin-top: 24em;
  }

  .imagesContainer {
    justify-content: center;
    width: 100%;
  }

  .sectionTitle h2 {
    font-size: 1.4rem;
    white-space: nowrap;
  }

  .blob {
    background-color: white;
    height: 20em;
    aspect-ratio: 1;
    position: absolute;
    left: 10%;
    top: 65%;
    translate: -50% -50%;
    border-radius: 50%;
    background: #021b30;
    animation: rotate 20s infinite;
    backdrop-filter: blur(50px);
  }

  .blur {
    height: 35em;
    aspect-ratio: 1;
    position: absolute;
    left: 10%;
    top: 65%;
    translate: -50% -50%;
    border-radius: 50%;
    z-index: 2;
    backdrop-filter: blur(50px);
  }
}
